body {
  font-family: 'Times New Roman', Times, serif;
  width:350px;
  margin-left:auto;
  margin-right:auto;
  margin-top:160px;

}

.body-text {
margin-right: 150px;
font-size: 14px;
}

.a {
  background-color: #ffff00;
  color: black;
  text-decoration: none;
}

/* Fake image */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Add a card effect for articles */
.card {
   background-color: white;
   padding: auto;
   margin-top: auto;
}